[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
aiohttp = "*"
aiosignal = "*"
annotated-types = "*"
anyio = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
dataclasses-json = "*"
distro = "*"
frozenlist = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
jsonpatch = "*"
jsonpointer = "*"
langchain-community = "*"
langchain-core = "*"
langsmith = "*"
marshmallow = "*"
multidict = "*"
mypy-extensions = "*"
numexpr = "*"
numpy = "*"
openapi-schema-pydantic = "*"
packaging = "*"
pydantic = "*"
pydantic-core = "*"
pyyaml = "*"
requests = "*"
sniffio = "*"
sqlalchemy = "*"
tenacity = "*"
tqdm = "*"
typing-inspect = "*"
typing-extensions = "*"
urllib3 = "*"
yarl = "*"
chromadb = "*"
pyboxen = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
